.info {
    border: 0.5px solid rgba(105, 139, 240, 0.5);
    color: rgb(106, 139, 239);
    border-radius: 5%;
}

.modify {
    border: 0.5px solid rgba(26, 76, 228, 0.5);
    color: rgb(19, 70, 224);
    border-radius: 5%;
}

.supprimer {
    border: 0.5px solid rgba(198, 67, 49, 0.5);
    color: #c64331;
    border-radius: 5%;
}
